<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UCL</title>
    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
   <link rel="stylesheet" href={~p"/assets/app.css"} />

   <style>
     .view-buttons {
        display: flex;
        gap: 15px; 
        margin-bottom: 20px; 
      }

      .admin-buttons, .user-buttons {
        display: none;
      }

      .active {
        display: block;
      }

      .buttons a {
        margin: 10px;
      }


  @media (max-width: 768px) {
    .view-buttons {
      flex-direction: column;
      gap: 10px;
    }

    .buttons a {
      font-size: 14px;
      padding: 10px;
    }

    h1 {
      font-size: 1.5rem;
      text-align: center;
    }
        .buttons {
          display:contents;
    }

    .buttons a {
      
      justify-content: center; 
      width: 100%; 
      font-size: 1rem; 
      padding: 10px;
    }
  }

  @media (max-width: 480px) {
    .view-buttons {
      gap: 5px;
    }
#button1, #button2{
  font-size: 1rem;
    padding: 10px 15px;
    width: 13pc;
    height: 6pc;
}
   
     .buttons {
          display:contents;
    }

    h1 {
      font-size: 1.2rem;
    }
  }
    </style>
  </head>

  <body>
  
    <div class="container-l">
    
      <div class="container">

       

        
        <img src="/images/ucl.png" />
        <h1>Welcome to UCL!</h1>
         
      
        <div class="view-buttons">
         
          <button onclick="showAdmin()" class="button" id="button1">Admin</button>
          <button onclick="showUser()" class="button" id="button2">User</button>
        </div>

        <!-- Admin View -->
      
        <div class="admin-buttons">
           <%= if @current_user do %>
           <a href="/">
              <i class="fa fa-arrow-left"></i> 
            </a>
 <.link
              href={~p"/users/log_out"}
              method="delete"
              class=" items-center text-black hover:text-red-600 text-lg"
            >
              <i class="fa fa-sign-out-alt mr-3"></i>
              Log Out
            </.link>
            <%end %>
          
           
          <div class="buttons">
            <a href="/users" class="button">
              <i class="fa fa-users"></i> Users
            </a>
            <a href="/rooms" class="button">
              <i class="fa fa-door-open"></i> Rooms
            </a>
            <a href="/activities" class="button">
              <i class="fa fa-tasks"></i> Activity
            </a>
            
          </div>
        </div>

        <!-- User View -->
        <div class="user-buttons">
                  <a href="/">
              <i class="fa fa-arrow-left"></i> 
            </a>
          <div class="buttons">
            <a href="/user/activities/new" class="button">
              <i class="fa fa-tasks"></i> Choose Operation
            </a>
    -    
        <!--    <a href="/stop" class="button">
              <i class="fa fa-stop"></i> Stop Activity
            </a> -->
            
          
          </div>
        </div>
      </div>
    </div>

    <script>
      function showAdmin() {
        document.querySelector('.admin-buttons').classList.add('active');
        document.querySelector('.user-buttons').classList.remove('active');
           document.querySelector('.view-buttons').classList.add('hidden');
      }

      function showUser() {
        document.querySelector('.user-buttons').classList.add('active');
        document.querySelector('.admin-buttons').classList.remove('active');
           document.querySelector('.view-buttons').classList.add('hidden');
      }
    </script>
    
  </body>
</html>