<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UCL</title>
    <!-- Stylesheets -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
  
  </head>

  <body>
    <div class="container-l">
     <div class="container">
      <h1>Welcome to UCL!</h1>
      <div class="typing">What do you want to access?</div>
      <div class="buttons">
        <a href="/users" class="button">
          <i class="fa fa-users"></i> Users
        </a>
        <a href="/rooms" class="button">
          <i class="fa fa-door-open"></i> Rooms
        </a>
        <a href="/activities" class="button">
          <i class="fa fa-tasks"></i> Activity
        </a>
      </div>
    </div>
    </div>
  </body>
</html>
