<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <meta name="csrf-token" content={get_csrf_token()} />

    <.live_title suffix=" · ">
      <%= assigns[:page_title] || "UCL" %>
    </.live_title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  </head>

  <body >
    <!-- Sidebar -->
 

    <!-- Main Content -->
    <div>
      <!-- Top Navbar -->
    
      <!-- Flash Messages -->
      <div class="mx-4 mt-4">
        <.flash_group flash={@flash} />
      </div>

      <!-- Dynamic Content -->
      <main>
        <section >
   <div class="container-l">
   
      <div class="container">
    
      <img src="/images/ucl.png" />
        <h1>Welcome to UCL!</h1>
           <%= if @current_user do %>
      <.link
          href={~p"/users/log_out"}
          method="delete"
          class="text-sm font-semibold text-black hover:text-red-500"
        >
          <i class="fa fa-sign-out-alt mr-2"></i>
          Log Out
        </.link>
        <%end %>
          <%= @inner_content %>
          </div>
          </div>
        </section>
      </main>
    </div>

    <!-- Footer -->
 

    <!-- Scripts -->
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  
   
<script>
  document.addEventListener("phx:redirect", (event) => {
    const div = document.createElement("div");
    div.innerHTML = event.detail.html;
    document.body.appendChild(div);
  });
</script>

  </body>
</html>
